<div id="wrapper">

<header>

		<div class="container">
			<div class="sixteen columns">
	
				<!-- Logo -->
				<div id="logo">
					<h1><a href="/index"><img src="../../assets/logo.png" alt="Work Scout" /></a></h1>
				</div>
	
				<!-- Menu -->
				<nav id="navigation" class="menu">
					<ul id="responsive">
	
						<li><a [routerLink]="['/index']" id="current">Home</a>
							
						</li>
	
				
	
						<li *ngIf="isCondidat"><a href="/#">For Candidates</a>
							<ul>
								<li><a [routerLink]="['/browse-jobs']">Browse Jobs</a></li>
								<li><a [routerLink]="['/browse-categories']">Browse Categories</a></li>
								<li><a [routerLink]="['/add-resume']">Add Resume</a></li>
								<li><a [routerLink]="['/manage-resumes']">Manage Resumes</a></li>
								<li><a [routerLink]="['/job-alerts']">Job Alerts</a></li>
							</ul>
						</li>
	
						<li *ngIf="isEmployer"><a href="/#">For Employers</a>
							<ul>
								<li><a [routerLink]="['/add-job']">Add Job</a></li>
								<li><a [routerLink]="['/manage-jobs']">Manage Jobs</a></li>
								<li><a [routerLink]="['/manage-applications']">Manage Applications</a></li>
								<li><a [routerLink]="['/browse-resumes']">Browse Resumes</a></li>
							</ul>
						</li>
	
						<li><a href="/blog">Blog</a></li>
					</ul>
	
	
					<ul class="float-right">
						<li (click)="logout()" *ngIf="isAuthenticated"><a  ><i class="fa fa-user"></i> Log Out</a></li>
						<li  (click)="login()" *ngIf="!isAuthenticated"><a ><i class="fa fa-lock"></i> Log In</a></li>
					</ul>
	
				</nav>
	
				<!-- Navigation -->
				<div id="mobile-navigation">
					<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
				</div>
	
			</div>
		</div>
	</header>

</div>

