<div id="wrapper">

<header>

		<div class="container">
			<div class="sixteen columns">
	
				<!-- Logo -->
				<div id="logo">
					<h1><a href="/index"><img src="../../assets/logo.png" alt="Work Scout" /></a></h1>
				</div>
	
				<!-- Menu -->
				<nav id="navigation" class="menu">
					<ul id="responsive">
	
						<li><a href="/index" id="current">Home</a>
							<ul>
								<li><a href="/index">Home #1</a></li>
								<li><a href="/index-2">Home #2</a></li>
								<li><a href="/index-3">Home #3</a></li>
								<li><a href="/index-4">Home #4</a></li>
							</ul>
						</li>
	
						<li><a href="/#">Pages</a>
							<ul>
								<li><a href="/job-page">Job Page</a></li>
								<li><a href="/job-page-alt">Job Page Alternative</a></li>
								<li><a href="/resume-page">Resume Page</a></li>
								<li><a href="/shortcodes">Shortcodes</a></li>
								<li><a href="/pricing-tables">Pricing Tables</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</li>
	
						<li><a href="/#">For Candidates</a>
							<ul>
								<li><a href="/browse-jobs">Browse Jobs</a></li>
								<li><a href="/browse-categories">Browse Categories</a></li>
								<li><a href="/add-resume">Add Resume</a></li>
								<li><a href="/manage-resumes">Manage Resumes</a></li>
								<li><a href="/job-alerts">Job Alerts</a></li>
							</ul>
						</li>
	
						<li><a href="/#">For Employers</a>
							<ul>
								<li><a href="/add-job">Add Job</a></li>
								<li><a href="/manage-jobs">Manage Jobs</a></li>
								<li><a href="/manage-applications">Manage Applications</a></li>
								<li><a href="/browse-resumes">Browse Resumes</a></li>
							</ul>
						</li>
	
						<li><a href="/blog">Blog</a></li>
					</ul>
	
	
					<ul class="float-right">
						<li (click)="logout()"><a  ><i class="fa fa-user"></i> Log Out</a></li>
						<li  (click)="login()"><a ><i class="fa fa-lock"></i> Log In</a></li>
					</ul>
	
				</nav>
	
				<!-- Navigation -->
				<div id="mobile-navigation">
					<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
				</div>
	
			</div>
		</div>
	</header>

</div>

